<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.style.facechanger"
    android:versionCode="2"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.ar.mystyle.Util.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:theme="@style/Theme.Transparent">
        <activity
            android:name="com.ar.mystyle.activities.EditorActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName="com.ar.mystyle.activities.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <data android:scheme="file" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.ar.mystyle.activities.SettingsActivity"
            android:label="@string/app_setting"
            android:parentActivityName="com.ar.mystyle.activities.MainActivity"
            android:screenOrientation="portrait"></activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider546054322221354"
            android:exported="true" />

        <activity
            android:name="com.ar.mystyle.activities.MyCollectionActivity"
            android:parentActivityName="com.ar.mystyle.activities.MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity

            android:name="com.ar.mystyle.activities.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
           <activity android:name="com.ar.mystyle.activities.FacebookAlbumsActivity"></activity>

        <activity android:name="com.ar.mystyle.activities.FacebookAlbumsActivity"/>

        <activity android:name="com.ar.mystyle.activities.FacebookPhotosActivity"/>

        <activity android:name="com.ar.mystyle.activities.GalleryImages"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>